* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  /* min-height: 100vh; */
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* min-height: 0vh; */

}

.countries {
  /* margin-bottom: 8rem; */
  display: flex;

  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
  margin-top: 25vh;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  transition: 0.2s;
  /* overflow: hidden; */
  color: white;
}

.neighbour::before {
  /* content: 'Neighbour country'; */
  width: 100%;
  position: absolute;
  top: -4rem;
  transition: 0.2s;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.country__img {
  height: 17rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    padding: 3px 70px 3px 67px;
    background-color: black;
    backface-visibility: hidden;
}
.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
  background-image: linear-gradient(to right, #141e30, #243b55);
  
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 40rem;
  margin: 2rem;
}
.navlist{
  
  color:white;
}

.images img.parallel {
  width: 30rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
 box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}
.btnn{
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: white;
  margin-top: 20px;
  margin-left: 30px;
  transition: 0.5s;
 
  /* position: top; */
}
.btnn:hover{

  background-image: linear-gradient(to right, #ff512f, #f09819);
  transition: 0.5s;
 
}
.notification{

  margin-left: 140vh;
 
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  text-shadow:0 0 white;
  color: transparent;
  font-style: normal;
  display: inline-flex;
  vertical-align: middle;
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
   font-size: 1.7em;
  


}
.notification:hover{

  text-shadow:0 0 yellow;

}

