* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
}

.countries {
  display: flex;

  flex-wrap: wrap;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
  margin-top: 20vh;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  transition: 0.2s;
  color: white;
}

.neighbour::before {
  width: 100%;
  position: absolute;
  top: -4rem;
  transition: 0.2s;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.country__img {
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  padding: 3px 70px 3px 67px;
  background-color: black;
  backface-visibility: hidden;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
  background-image: linear-gradient(to right, #141e30, #243b55);
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images img {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 2rem;
}

.images img.parallel {
  width: 100%;
  max-width: 30rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}

.btnn {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: white;
  margin-top: 20px;
  margin-left: 30px;
  transition: 0.5s;
  font-size: 1.7rem;
  font-weight: 500;
  color: #ddd;
}

.btnn:hover {
  background-image: linear-gradient(to right, #870000, #190a05);
  transition: 0.5s;
}

.notification {
  margin-left: 29px;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  text-shadow: 0 0 white;
  color: transparent;
  font-style: normal;
  display: inline-flex;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.7em;
  margin-top: 0px;
}

.notification:hover {
  text-shadow: 0 0 yellow;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(1, 1, 1, 1);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 0, 1, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
  color: #ddd;
  padding-left: 6.5%;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
  color: #ddd;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.container.blur {
  filter: blur(5px);
}

@media only screen and (max-width: 768px) {
  .container {
    /* margin-top: */
  }}
  span{

    font-weight: 400;
    font-size: 20px;
    color: white;
  }
  #notif{

    gap: 0rem;
  }
  .modall{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(1, 1, 1, 1);
  z-index: 1000;
  transition: all 0.5s;
  }
  .modall_form{

    /* grid-column: 1 / span 2; */
  justify-self: center;
  margin-top: 1rem;
  }